{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    最後の取引
{% endblock %}

{% block content %}

    {% include Constants.instructions_template %}

    <p>
    今から最後に一回だけ取引を行います。まずはこれまでのゲームで獲得した「利得」の合計金額のうち、相手にいくら送金するかを決定してください。あなたはこれまでに{{sumpayment}}円の利得を獲得しています。この金額内であればいくらでも送金して構いません。ただし、最後の取引では、送金をする際に送金手数料として100円がかかり、100円以下の金額を送金することはできません。また、同時にもしも相手が送金してきた場合に、送金された額を返金するかどうかを考えてください。この意思決定は相手と同時に行われているため、相手がいくら送金してくるのか、返金の意志があるのかはあなたにはわかりません。相手もあなたと同様これが最後の取引であることを知っています。先ほどのゲーム同様、返金する場合は、相手が送金してきた金額が2倍になって相手の「収入」となりそのまま相手の「利得」となります。一方、返金しない場合は、相手が送金してきた金額があなたの「収入」となりそのままあなたの「利得」となります。最終的に「あなたが今までのゲームで獲得した利得」ー「このゲームで送金した金額」＋「このゲームで相手から返金された金額」＝「最終獲得利得」となります。そして、この「最終獲得利得」に応じて報酬が支払われます。取引結果によっては、「最終獲得利得」が今までのゲームで獲得した利得よりも小さくなる可能性があることに留意してください。
    </p>

    {% formfields %}

    {% next_button %}

{% endblock %}
