{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
    <p>
        This is a trust game with 2 players.
    </p>
    <p>
        To start, participant A receives {{ Constants.endowment }};
        participant robot receives nothing.
        Participant A can send some or all of his {{ Constants.endowment }} to participant robot.
        Before robot receives this amount it will be tripled.
        Once robot receives the tripled amount he can decide to send some or all of it back to A.
    </p>
    </div>
</div>